const component = (props) => (
    <div className="product">
        <p className="description">{props.product.description}</p>
        <p className="price">Цена: ${props.selected.price}</p>
        <button
            disabled={props.inventory > 0 ? '' : 'disabled'}
        >
            {props.inventory ? 'Купить' : 'Нет в наличии'}
        </button>
    </div>
);