const component = () => (`
    <div className="product">
        <p className="description">${product_description}</p>
        <p className="price">Цена: ${selected_price}</p>
        <button
            disabled={this.props.inventory > 0 ? '' : 'disabled'}
        >
            {this.props.inventory ? 'Купить' : 'Нет в наличии'}
        </button>
    </div>
`);